<% provide(:title,"About") %>
<html>
  <head>
  </head>

  <body>
    <h1>About</h1>
    <p>
      The <a href="http://www.strutin.com/"><em>STRUTIN'</em></a> is a Men Clothing Store</a>
    </p>

  </body>
</html>

