<% provide(:title, "Contact") %>

<html>
  <head>

  </head>

  <body>
    <p>
      This is CONTACT page, Please contact nghtho94@gmail.com
      or via 0987461474 phone number.
    </p>
  </body>
</html>