<% provide(:title,"Help") %>
<html>
  <head>
  </head>

  <body>
  <h1>Help</h1>
  <p>
    Get help on the CONTACT at the
    <a href="http://www.strutin.com/contact">STRUTIN' CONTACT PAGE</a>.
  </p>

  </body>
</html>

