 <%# provide(:title,"Home") %>

<html>
  <head>
  </head>

  <body>

    <h1>This is HOME PAGE</h1>

    <p>
      This is home page for
      <a href="https://strutin.com"> STRUTIN</a>
      FASHION
    </p>

  </body>
</html>

