 <%# provide(:title,"Home") %>

<html>
  <head>
  </head>

  <body>
    <div class="center jumbotron">
      <h1>WELCOME</h1>
      <h2> STRUTIN' Shop</h2>
      <%= link_to "Sign up now!'", signup_path, class: "btn btn-lg btn-primary" %>
    </div>
  </body>
</html>

